@font-face {
  font-family: "MiFuente";
  src: url("./fonts/Nunito/static/Nunito-Ligth.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
 * {
        margin: 0;
        padding: 0;
      }
      body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: #22C1C3;
        background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
      }
      .contendorTexto {
        width: 100%;
        height: 100px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
      }
      .contendorTexto > * {
        flex: 2;
        text-align: center;
        font-family: MiFuente;
      }
      .texto {
        font-size: 25px;
      }
      .resuelta {
        pointer-events: none;
      }
      .carta {
        border: 2px solid black;
        box-shadow: 5px 1% 1% black;
        width: 130px;
        height: 150px;
        margin: 20px;
        cursor: pointer;
        background-color: grey;
      }
      .especial {
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #fotoFaustino {
        width: 70px;
        height: 90px;
      }
      #usarFaustino {
        margin-left: 20px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
      }