@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/static/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
 * {
        margin: 0;
        padding: 0;
      }
      body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: #545b78;
        background: radial-gradient(circle,rgba(84, 91, 120, 1) 0%, rgba(0, 0, 0, 1) 100%);
      }
      .contendorTexto {
        width: 100%;
        height: 100%;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        color: white;
        font-family: "Nunito";
        font-size: 100%;

      }
      .contendorTexto > * {
        flex: 2;
        text-align: center;
        font-family: "Nunito";
        color: white;
      }

      #contenedorBotonRacha {
        display: flex;
        align-items: center;
        justify-content: center;
      }

        #contenedorRacha {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 40px;
          margin-left: 40px;
        }

      #botonStart {
        font-family: "Nunito";
        color: white;
        padding: 10px;
        font-size: 40px;
        cursor: pointer;
        background-color: black;
        border-radius: 15px;
        border: 2px solid white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      #tiempo {
        font-size: 70px;
        font-family: "Nunito";
        color: white;
      }

      .resuelta {
        pointer-events: none;
        visibility: hidden;
      }

      .carta {
        border: 2px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 130px;
        height: 150px;
        margin: 20px;
        padding: 0;
        cursor: pointer;
        background-color: grey;
        border-radius: 35px;
      }
      .especial {
        /* visibility: hidden; */
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #fotoFaustino {
        width: 100px;
        height: 120px;
        margin: 5px;
        border: 2px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;

      }
      #usarFaustino {
        font-family: "Nunito";
        color: white;
        margin-left: 20px;
        padding: 5px;
        font-size: 100%;
        cursor: pointer;
        background-color: black;
        border-radius: 15px;
        border: 2px solid white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-flex: 100%;
      }